$color1_Light: #B6EEFF;
$color1_Medium: #00C4FF;
$color1_Dark: #39A1FF;
$color2: #FFFFFF;
$color3: aliceblue;
$gray1: #aeaeae;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 41px;

}


body {
    background-color: $color1_Light;
    overflow-x: hidden;
}

.bg-design {
    background-image: url(../images/desktop_bg_vectors.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main {
    background-color: aliceblue;
    display: flex;
    // border-radius: 129px 0 0 129px;
    border-radius: 70px 0px 0px 70px/135px 0px 0px 135px;

    .image-container {
        height: 100vh;
        width: 391.0773010253906px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: -30%;

        img {
            // height: 336px;
            max-width: 391.0773010253906px;
            max-height: 462px;
        }
    }

    .content {
        display: block;
        margin-left: -10%;

        .brand-ribbon {
            font-family: 'SF New Republic Bold';
            display: flex;
            justify-content: end;
            margin-top: 5.27%;

            .brand-name {
                width: 55px;
                text-align: center;
                color: $color1_Dark;

                h3 {
                    margin: -10px;
                    font-size: 60px;
                    font-weight: 700;
                }

                h4 {
                    margin: 0;
                    font-size: 50px;
                    font-weight: 400;
                }
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            a,
            button {
                width: 458px;
                background-color: $color1_Light;
                color: black;
                padding: 20px;
                margin: 10px 0px;
                font-family: 'Poppins', sans-serif;
                font-size: 34px;
                font-weight: 600;
                border-radius: 21px;
                text-decoration: none;


                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;

            }
        }
    }

}


.form-group {
    position: relative;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    // &+.form-group {
    //   margin-top: 30px;
    // }

    .focused .form-label {
        transform: translateY(-130%);

    }

    .form-label {
        background-color: $color3;
        margin-left: 10px;
        position: absolute;
        left: 0;
        top: 20px;
        z-index: 10;
        transition: transform 150ms ease-out;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        padding: 0px 5px;
    }

}

.focused .form-label {
    transform: translateY(-130%);
    // font-size: .75em;
    font-size: 18px;
}

input[type=text],
input[type=number],
input[type=email] {
    background: transparent;
    border: 2px solid $gray1;
    border-radius: 5px;
    width: 100%;
    height: 70px;
    position: relative;
    padding: 12px 10px 5px 5px;
    transition: border 150ms ease-out;
    // z-index: 3;
    font-size: 22px;

    &:focus {
        border: 2px solid blue;
    }
}


.form-input.filled {
    border: 2px solid blue;
}

.icon-btn-head {
    color: $color1_Dark;
    text-align: left;
    width: 100%;
    margin-left: 5%;
}

select {
    background: transparent;
    border: 2px solid $gray1;
    border-radius: 5px;
    width: 100%;
    height: 70px;
    position: relative;
    padding: 12px 10px 5px 5px;
    transition: border 150ms ease-out;
    font-size: 22px;
}


.notice {
    .notice_head {
        text-align: center;
        z-index: 0;
        line-height: 55px;
        font-size: 50px;
        font-weight: 600;
    }

}

.notice_content {
    text-align: center;
    font-size: 36px;
    line-height: 54px;
    font-weight: 500;
}

.call_back_number {
    display: flex;
    flex-direction: row;

    input[type=text]{
        font-size: 22px;
    }
}

// media queries

//  xxl


// X-Large devices (large desktops, less than 1400px) xl
@media (max-width: 1399.98px) {
    body {
        margin: 0;
    }
}

// Large devices (desktops, less than 1200px) lg
@media (max-width: 1199.98px) {
    .main {
        .image-container {

            img {
                max-width: 310px;
            }
        }

        .content {
            margin-left: -35%;

            .brand-ribbon {
                margin-top: 135px;
                justify-content: end;

                .brand-name {

                    h3 {
                        margin: -10px; //
                    }

                    h4 {
                        margin: 0; //
                    }
                }
            }

            .buttons {

                a {
                    width: 458px; //
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px) md
@media (max-width: 991.98px) {
    body {
        border-color: $color3;
    }

    .bg-design {
        height: 433px;
        background-color: $color1_Light;
        background-image: url(../images/Book_call_bg_design.svg);
    }

    .main {
        border-radius: 162px 162px 0 0;
        flex-direction: column;
        margin-top: -40px;

        .image-container {
            position: relative;
            width: auto;
            height: auto;
            left: 0;
            top: -30%;
            flex-direction: row;
            margin-top: -145px;

            img {
                width: 310px;
            }
        }

        .content {
            margin-left: 0;

            .brand-ribbon {
                justify-content: center;
                margin-top: 30px;

                .brand-name {

                    h3 {
                        margin: -10px; //
                    }

                    h4 {
                        margin: 0; //
                    }
                }
            }

            .buttons {
                margin-top: 60px;
                padding-bottom: 60px;

                a {
                    width: 458px; //
                }
            }
        }
    }
}


// Small devices (landscape phones, less than 768px) sm
@media (max-width: 767.98px) {
    .main {

        .image-container {

            img {
                width: 300px;
            }
        }
    }
}


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    body {
        background-color: $color3;
    }

    .bg-design {
        height: 215px;
        background-color: $color1_Light;
        background-image: url(../images/Book_call_bg_design.svg);
    }

    .main {
        margin-top: -85px;

        .image-container {
            margin-top: -90px;

            img {
                width: 204px;
            }
        }

        .content {

            .brand-ribbon {
                justify-content: center;


                .brand-name {

                    h3 {
                        margin: -10px; //
                        font-size: 50px;
                    }

                    h4 {
                        margin: 0; //
                        font-size: 40px;
                    }
                }
            }

            .buttons {
                margin-top: 22px;

                a {
                    width: 223px; //
                    font-size: 15px;
                    height: 53px;
                }
            }
        }
    }
}