* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #B6EEFF;
  overflow-x: hidden;
}

.bg-design {
  background-image: url(../images/desktop_bg_vectors.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main {
  background-color: aliceblue;
  display: flex;
  border-radius: 70px 0px 0px 70px/135px 0px 0px 135px;
}
.main .image-container {
  height: 100vh;
  width: 391.0773010254px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: -30%;
}
.main .image-container img {
  max-width: 391.0773010254px;
  max-height: 462px;
}
.main .content {
  display: block;
  margin-left: -10%;
}
.main .content .brand-ribbon {
  font-family: "SF New Republic Bold";
  display: flex;
  justify-content: end;
  margin-top: 5.27%;
}
.main .content .brand-ribbon .brand-name {
  width: 55px;
  text-align: center;
  color: #39A1FF;
}
.main .content .brand-ribbon .brand-name h3 {
  margin: -10px;
  font-size: 60px;
  font-weight: 700;
}
.main .content .brand-ribbon .brand-name h4 {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
}
.main .content .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.main .content .buttons a, .main .content .buttons button {
  width: 458px;
  background-color: #B6EEFF;
  color: black;
  padding: 20px;
  margin: 10px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 600;
  border-radius: 21px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.form-group {
  position: relative;
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.form-group .focused .form-label {
  transform: translateY(-130%);
}
.form-group .form-label {
  background-color: aliceblue;
  margin-left: 10px;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 10;
  transition: transform 150ms ease-out;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 0px 5px;
}

.focused .form-label {
  transform: translateY(-130%);
  font-size: 18px;
}

input[type=text],
input[type=number],
input[type=email] {
  background: transparent;
  border: 2px solid #aeaeae;
  border-radius: 5px;
  width: 100%;
  height: 70px;
  position: relative;
  padding: 12px 10px 5px 5px;
  transition: border 150ms ease-out;
  font-size: 22px;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus {
  border: 2px solid blue;
}

.form-input.filled {
  border: 2px solid blue;
}

.icon-btn-head {
  color: #39A1FF;
  text-align: left;
  width: 100%;
  margin-left: 5%;
}

select {
  background: transparent;
  border: 2px solid #aeaeae;
  border-radius: 5px;
  width: 100%;
  height: 70px;
  position: relative;
  padding: 12px 10px 5px 5px;
  transition: border 150ms ease-out;
  font-size: 22px;
}

@media (max-width: 1399.98px) {
  body {
    margin: 0;
  }
}
@media (max-width: 1199.98px) {
  .main .image-container img {
    max-width: 310px;
  }
  .main .content {
    margin-left: -35%;
  }
  .main .content .brand-ribbon {
    margin-top: 135px;
    justify-content: end;
  }
  .main .content .brand-ribbon .brand-name h3 {
    margin: -10px;
  }
  .main .content .brand-ribbon .brand-name h4 {
    margin: 0;
  }
  .main .content .buttons a {
    width: 458px;
  }
}
@media (max-width: 991.98px) {
  body {
    border-color: aliceblue;
  }
  .bg-design {
    height: 433px;
    background-color: #B6EEFF;
    background-image: url(../images/Book_call_bg_design.svg);
  }
  .main {
    border-radius: 162px 162px 0 0;
    flex-direction: column;
    margin-top: -40px;
  }
  .main .image-container {
    position: relative;
    width: auto;
    height: auto;
    left: 0;
    top: -30%;
    flex-direction: row;
    margin-top: -145px;
  }
  .main .image-container img {
    width: 310px;
  }
  .main .content {
    margin-left: 0;
  }
  .main .content .brand-ribbon {
    justify-content: center;
    margin-top: 30px;
  }
  .main .content .brand-ribbon .brand-name h3 {
    margin: -10px;
  }
  .main .content .brand-ribbon .brand-name h4 {
    margin: 0;
  }
  .main .content .buttons {
    margin-top: 60px;
    padding-bottom: 60px;
  }
  .main .content .buttons a {
    width: 458px;
  }
}
@media (max-width: 767.98px) {
  .main .image-container img {
    width: 300px;
  }
}
@media (max-width: 575.98px) {
  body {
    background-color: aliceblue;
  }
  .bg-design {
    height: 215px;
    background-color: #B6EEFF;
    background-image: url(../images/Book_call_bg_design.svg);
  }
  .main {
    margin-top: -85px;
  }
  .main .image-container {
    margin-top: -90px;
  }
  .main .image-container img {
    width: 204px;
  }
  .main .content .brand-ribbon {
    justify-content: center;
  }
  .main .content .brand-ribbon .brand-name h3 {
    margin: -10px;
    font-size: 50px;
  }
  .main .content .brand-ribbon .brand-name h4 {
    margin: 0;
    font-size: 40px;
  }
  .main .content .buttons {
    margin-top: 22px;
  }
  .main .content .buttons a {
    width: 223px;
    font-size: 15px;
    height: 53px;
  }
}/*# sourceMappingURL=style.css.map */